@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap');


:root {
    --main-bg-color: rgb(64, 64, 64);
}

*{
    margin: 0;
}


body{
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;

}

nav ul {
    padding: 0;
}
nav ul li{
    display: inline-block;
}

nav ul li a{
    display: block;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.logomenu {
   display:inline;
    height: 75px;
}
.navbarTop{
    height: 50px;
}
.navbarTop ul {
    text-align: right;
}

.navbarTop ul {
    text-align: right;
}

.navbarTop ul li a{
    color: black;
}

.navbarTop ul li a:link{
    text-decoration: none;
}


.navbarTop ul li a:hover{
    color: gray;
}

.navbarMain {
    background-color: #7F0000;
    margin-top: 80;
}

.navbarMain ul li a{
    color: #FF6E00;
}

.navbarMain ul li a:link{
    text-decoration: none;
}

.navbarMain ul li a:hover{
    color: white;
}


footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7F0000;
  color: white;
  text-align: center;
	
}

footer a{
    color: black;
}

footer a:hover{
    color: red;
}
