*{

}
.login{
	
    text-align: center;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    width: auto;
	vertical-align: middle;
    background-color: #2D2D2D;
    background-clip: padding-box;    
    color: #FF6E00;
}

.login input{
    width: auto;
}

.loginButton{
    background-color: white;
    cursor: pointer;
    padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #FF6E00;
	background-color: #212121;
	border: none;
	margin-bottom: 20px;
}

.loginButton:hover{
    background-color: #191919;
}
