*{

}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.register{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
    width: 700px;
    background-color: #2D2D2D;   
    color: #FF6E00;
}

.register h1{
    padding-top: 20px;
}

form{
    text-align: left;
    width: 40%;
    margin: auto;
}

.register input{
    height: 20px;
    width: 100%;
    border: none;
    color: white;
    background-color: #212121 !important;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #212121 inset;
}

.register input:hover{
    background-color: #191919;
    -webkit-box-shadow: 0 0 0px 1000px #191919 inset;
}

.registerButton{
    font-size: large;
    cursor: pointer;
    height: 50px !important;
    -webkit-text-fill-color: #FF6E00 !important;
	background-color: #212121;
	border: none;
    margin-bottom: 20px;
}

.registerButton:hover{
    background-color: #191919;
    -webkit-box-shadow: 0 0 0px 1000px #191919 inset;
}

.accExists{
    font-size: 15px;
}

.loginNow{
    color: #8d0000;
    font-size: larger;
}

.loginNow:hover{
    color: #bd0000;
}