main{
    display: flex;
    justify-content: left;
}

.searchColumn{
    text-align: left;
    padding-top: 100px;
}


.products{
    width: 100%;
    margin: auto;
    justify-content: center; 
    align-items: center;
}

article{
    font-style: none;
    width: 200px;
    height: 250px;
    float: left;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.5s;
}

article a{
    color: white;
    font-style: normal;
    text-decoration: none;
}

.img{
    width: 200px;
    height: 200px;
}

article:hover{
    transform: scale(1.3);
    z-index: 2;
}

.prodPrice{
    color: #FF6E00;
    text-align: center !important;
}

@media screen and (max-width: 768px){

    article{

    }

    .products{
        width: 100%;
        margin: 0px;
    }

    .img{
    }
}